<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {{ site.config.title }}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script defer src="https://unpkg.com/alpinejs@3.9.6/dist/cdn.min.js"></script>
  </head>

  <body>
  {{ content | safe }}
  </body>
</html>
