<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {{ site.config.title }}
    </title>
    <style>
      img {
        max-width: 50%
      }
    </style>
  </head>

  <body>
    <a href="/">Home</a>
    {{ content }}
  </body>
</html>
