---
layout: page.njk
---
<div class="recipe">
{% if title %}
  <h1>{{ title }}</h1>
{% endif %}

{% if picture %}
<figure class="image">
  <img class="recipeTeaser" src="{{ picture }}" />
</figure>
{% endif %}

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Anzahl Zutaten</p>
      <p class="title">{{ zutaten | length }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Zubereitungszeit</p>
      <p class="title">{{ zubereitungszeit }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Aufwand</p>
      <p class="title">{{ aufwand }}</p>
    </div>
  </div>
  <!-- <div class="level-item has-text-centered">
    <div>
      <p class="heading">Lowcarb</p>
      <p class="title">{{ lowcarb }}</p>
    </div>
  </div> -->
</nav>

{% if zutaten %}
  <div x-data="{ people: {{personen}} }">
    <h2>ZUTATEN</h2>
    Anzahl Personen: 
    <span x-text="people"></span>
    <button x-on:click="people++">+</button>
    <button x-on:click="people > 1 ? people-- : people">-</button>

    <ul>
      {% for zutat in zutaten %}
      <li>
        {% if zutat.amount %}
        <span x-text="((({{ zutat.amount }}/{{ personen}} * people)*100).toFixed())/100"></span>
        {% endif %} 
        {{zutat.unit}} {{ zutat.title}}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{{ content | safe }}
</div>
