<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Lieblingsrezepte</strong> created with ❤️ by <a href="https://github.com/fmstuff">Felix Manke</a>.
    </p>
  </div>
</footer>