<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ '/' | url }}">
      <img src="{{ '/img/logo.png' | url }}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ '/' | url }}" class="navbar-item">
        Lieblingsrezepte
      </a>

      <a href="{{ '/vegetarisch' | url }}" class="navbar-item">
        Vegetarisch
      </a>
      
      <a href="{{ '/low-carb' | url }}" class="navbar-item">
        Low Carb
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <!-- nothing yet -->
      </div>
    </div>
  </div>
</nav>
