
body {
  background-image: url({{'/img/bg_01.jpg' | url }});
}

.recipe img {
  border-radius: 1em;
}

.image .recipeTeaser {
  width: 800px;
  height: 337px;
  object-fit: cover;
  border-radius: 1em;
}

.image .teaser {
  height: 160px;
  object-fit: cover;
}

.box {
  border-radius: 1em;
}
